*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-gray-blue: hsl(220, 16%, 96%);
    --white: hsl(0, 0%, 98%);
    --main-white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Public Sans', sans-serif;
}

header{
    padding: 0 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: hsl(0, 0%, 98%);
}

nav{
    display: none;
}

.nav-button{
    display: none;
}

.dropmenu{
    display: none;
    padding: 1.5rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    margin: 2rem 5%;
    background: var(--white);
    border-radius: 5px;
}

.dropmenu a{
    padding: .6rem 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.dropmenu-active{
    display: flex;
}



.hero-bg{
    height: 45vh;
    background-image: url(./images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text{
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5%;
}

.hero-title{
    padding-bottom: 2rem;
}

.hero-text .hero-title h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}

.hero-desc{
    padding: 0 .5rem 2rem 0;
}

.hero-desc p{
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    text-align: center;
    line-height: 1.4rem;
}

.request-btn{
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 2rem;
    background: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}

.choosebank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    background-color: hsl(220, 16%, 96%);
}

.choosebank-title{
    text-align: center;
    margin-bottom: 2rem;
}

.choosebank-title h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.choosebank-desc{
    text-align: center;
    margin-bottom: 2rem;
}

.choosebank-desc p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsl(233, 8%, 62%);
}

.choosebank-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

/* general coding for choosebank sub wrapper  */
.choose-content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 500px;
}

.choose-img{
    width: 30%;
    height: 30%;
    padding-bottom: 2rem;
}

.choose-img img{
    width: 100%;
    height: 100%;
}

.choose-title{
    padding-bottom: 2rem;

}

.choose-title h1{
    font-size: 1.8rem;
    font-weight: 300;
}

.choose-desc-txt p{
    font-size: 1rem;
    text-align: center;
    color: hsl(233, 8%, 62%);
}

.latest-articles{
    padding: 3rem 0 5rem 0;
    background-color: hsl(0, 0%, 98%);
}

.articles-title{
    margin: 2rem 0;
    text-align: center;
    cursor: pointer;
}

.articles-title h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.articles-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.article-box{
    width: 85%;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    background-color: hsl(220, 16%, 96%);
    padding-bottom: 2rem;
    height: 400px;
}

.box1  .article-img{
    background-image: url(./images/image-currency.jpg);
    border-radius: 10px 10px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.box2 .article-img {
    background-image: url(./images/image-restaurant.jpg);
    border-radius: 10px 10px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.box3 .article-img {
    background-image: url(./images/image-plane.jpg);
    border-radius: 10px 10px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.box4 .article-img {
    background-image: url(./images/image-confetti.jpg);
    border-radius: 10px 10px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.article-text{
    height: 50%;
}


.article-img{
    height: 50%;
    margin-bottom: 1rem;
}


.article-author{
    padding: 0 10%;
    margin-bottom: 1rem;
}

.article-author span{
    color: hsl(233, 8%, 62%);
    font-family: 'Public Sans', sans-serif;
}

.article-title{
    padding: 0 10%;
    margin-bottom: 1rem;
    /* transition: color .2s ease; */
    cursor: pointer;
}

.article-title h2{
    font-size: 1.2rem;
    font-family: 'Public Sans',sans-serif;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}


.article-txt{
    padding: 0 10%;
    margin-bottom: 1rem;
}

.article-txt p{
    font-size: 1rem;
    color: hsl(233, 8%, 62%);
}

footer{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    align-items: center;
    background-color: hsl(233, 26%, 24%);
}

.footer-logo{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.social-svgs{
    margin-bottom: 2rem;
}

.social-svgs ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.social-svgs ul li img{
    width: 2rem;
    cursor: pointer;
}

.footer-links{
    margin-bottom: 2rem;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.footer-links li{
    text-align: center;
}

.footer-links ul li a{
    text-align: center;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Public Sans', sans-serif;
    transition: color .2s ease-in;
}

footer button{
    margin-bottom: 2rem;
}

.copyright{
    color: hsl(233, 8%, 62%);
}























.attribution{
    display: block;
}

@media only screen and (min-width: 900px){
    header{
        padding: 0 10%;
        margin: auto;
        justify-content: space-between;
        gap: 2rem;
    }

    .logo{
        width: 20%;
    }



    nav{
        display: block;
        width: 40%;
    }

    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 10%;
    }

    nav ul li a{
        text-decoration: none;
        color: hsl(233, 26%, 24%);
        font-family: 'Public Sans', sans-serif;
        transition:all .5s ease;
        position: relative;
    }

    nav li a::before{
        content: "";
        width: 0%;
        background-color: hsl(136, 65%, 51%);
        height: 5px;
        position: absolute;
        bottom: -150%;
        transition: width .2s ease;
    }

    nav li a:hover::before{
        width: 100%;
    }

    .nav-button{
        width: 15%;
    }

    .nav-button{
        display: block;
        margin-bottom: 0;
    }

    .dropdown-toggler{
        display: none;
    }

    .hero-page{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: hsl(0, 0%, 100%);
    }

    .hero-bg{
        width: 50%;
        height: 100%;
    }

    .hero-text{
        width: 50%;
        align-items: flex-start;
        height: fit-content;
        margin-left: 5%;
    }

    .hero-text .hero-title h1{
        text-align: left;
        font-size: 3rem;
    }

    .hero-text .hero-desc p{
        text-align: left;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .choosebank{
        display: block;
        padding: 5% 10%;
    }

    .choosebank-title{
        text-align: left;
    }

    .choosebank-desc{
        text-align: left;
        max-width: 700px;
    }

        .choosebank-content-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 2rem 0;
            gap: 1rem;
        }

.choose-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    max-width: 500px;
}

.choose-desc-txt p{
    text-align: left;
}

    .latest-articles{
        padding-left: 10%;
        padding-right: 10%;
    }

    .articles-title{
        text-align: left;
    }

    .articles-wrapper{
        flex-direction: row;
        gap: 1rem;
    }

    .article-box{
        width: 100%;
        border-radius: 0;
        padding-bottom: 3rem;
        margin: 0;
    }

    .article-img{
        border-radius: 0;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5% 10%;
        gap: 2rem;
    }

    .footer-links{
        flex: 2;
        width: 30%;
    }

    .footer-links ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width:60%;
    }


    .footer-links ul li a:hover{
        color: hsl(136, 65%, 51%);
    }

   
    .request-btn:hover{
            background: linear-gradient(to right, hsla(136, 65%, 51%, 0.705), hsla(192, 70%, 51%, 0.705));
    }

    .article-title h2{
        transition: color .2s ease;
    }

    .article-title h2:hover{
        color: hsl(136, 65%, 51%);
    }

    
   
}


@media screen and(min-width: 3000px) {
    body{
        padding: 0 10%;
    }
}