*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-gray-blue: hsl(220, 16%, 96%);
    --white: hsl(0, 0%, 98%);
    --main-white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Public Sans', sans-serif;
}

header{
    padding: 0 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: hsl(0, 0%, 98%);
}

nav{
    display: none;
}

.dropmenu{
    display: none;
    padding: 1.5rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    margin: 2rem 5%;
    background: var(--white);
    border-radius: 5px;
}

.dropmenu a{
    padding: .6rem 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.dropmenu-active{
    display: flex;
}



.hero-bg{
    height: 45vh;
    background-image: url(./images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text{
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5%;
}

.hero-title{
    padding-bottom: 2rem;
}

.hero-text .hero-title h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}

.hero-desc{
    padding: 0 .5rem 2rem 0;
}

.hero-desc p{
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    text-align: center;
    line-height: 1.4rem;
}

.request-btn{
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 2rem;
    background: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}

.choosebank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    background-color: hsl(0, 0%, 98%);
}

.choosebank-title{
    text-align: center;
    margin-bottom: 2rem;
}

.choosebank-title h1{
    font-size: 2.5rem;
    font-weight: 300;
}

.choosebank-desc{
    text-align: center;
    margin-bottom: 2rem;
}

.choosebank-desc p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsl(233, 8%, 62%);
}

/* general coding for choosebank sub wrapper  */






















.attribution{
    display: none;
}